<%= form_with(model: ruby_mine, local: true) do |form| %>
  <% if ruby_mine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ruby_mine.errors.count, "error") %> prohibited this ruby_mine from being saved:</h2>

      <ul>
        <% ruby_mine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
