<%= form_with(model: vs_code, local: true) do |form| %>
  <% if vs_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vs_code.errors.count, "error") %> prohibited this vs_code from being saved:</h2>

      <ul>
        <% vs_code.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
