<p id="notice"><%= notice %></p>

<h1>Vs Codes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vs_codes.each do |vs_code| %>
      <tr>
        <td><%= vs_code.name %></td>
        <td><%= vs_code.points %></td>
        <td><%= link_to 'Show', vs_code %></td>
        <td><%= link_to 'Edit', edit_vs_code_path(vs_code) %></td>
        <td><%= link_to 'Destroy', vs_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vs Code', new_vs_code_path %>
